In [1]:
"""
@filename: XlsImport
@author: Waisullah yousofi
"""

'\n@filename: XlsImport\n@author: Waisullah yousofi\n'

import pandas

In [2]:
import pandas as pd

assign spreadsheet filename: file

In [3]:
file = '..\dataset/leads.xlsx'

load spreadsheet xls

In [4]:
xls = pd.ExcelFile(file)

print sheet names

In [5]:
print(xls.sheet_names)

['Telephone', 'WebChat', 'WebForm']

load a sheet into a dataFrame by name

In [6]:
dfTel = xls.parse('Telephone')

In [7]:
print(dfTel)

   Sr         Company Name   Contact Name  Gender  Age   ProductCategory
0   1             ABC Bros       Ravi Raj    Male   18  Web Site Hosting
1   2             XYZ Sons    Shyam Patel    Male   30       Domain Name
2   3  Chunilal Associates  Sunita Sharma  Female   43     Email Service
3   4           Ramlal LLP   Pankaj Gupta    Male   55  Web Site Hosting
4   5        Shaan Pvt Ltd    Shaan Reddy    Male   67       Domain Name

print the head of the dataFrame df1

In [8]:
print(dfTel.head())

   Sr         Company Name   Contact Name  Gender  Age   ProductCategory
0   1             ABC Bros       Ravi Raj    Male   18  Web Site Hosting
1   2             XYZ Sons    Shyam Patel    Male   30       Domain Name
2   3  Chunilal Associates  Sunita Sharma  Female   43     Email Service
3   4           Ramlal LLP   Pankaj Gupta    Male   55  Web Site Hosting
4   5        Shaan Pvt Ltd    Shaan Reddy    Male   67       Domain Name

load a sheet into a dataFrame by name

In [9]:
dfChat = xls.parse('WebChat')

print the head of the dataFrame df1

In [10]:
print(dfChat.head())

   Sr          Company Name         Contact Name Gender  Age  \
0   1             Sony Mony         Ravina Swamy      F   19
1   2          Star Traders     Ria Karsan Patel      F   29
2   3  Channel Fashions Ltd  Sunita Sunil Sharma      M   49
3   4      Sunderlal & Sons        Pankaja Munde      F   59
4   5  Khanna & Associates         Rajesh Khanna      F   68

       ProductCategory
0          Web Hosting
1  Domain Registration
2        Email Service
3          Web Hosting
4  Domain Registration

load a sheet into a dataFrame by name

In [11]:
dfForm = xls.parse('WebForm')

print the head of the dataFrame df1

In [12]:
print(dfForm.head())

   Sr           Company Name First Name Last Name  Gender  Age ProductCategory
0   1                Star TV  Narendra     Gandhi       1   69     Web Hosting
1   2        Tata Sons Trust      Bawi       Tata       0   32     Domain Name
2   3       Tamil Sarkar LLP      Jaya     Lalita       0   49   Email Hosting
3   4  Banerjee & Chatterjee      Mamta      Gosh       0   59     Web Hosting
4   5               Reliance     Aakash    Ambani       1   21    All Services

print sheet names

In [13]:
print(xls.sheet_names)

['Telephone', 'WebChat', 'WebForm']

load a sheet into a dataFrame by index

In [14]:
df0 = xls.parse(0)
# print the head of the DataFrame df0
print(df0.head())

   Sr         Company Name   Contact Name  Gender  Age   ProductCategory
0   1             ABC Bros       Ravi Raj    Male   18  Web Site Hosting
1   2             XYZ Sons    Shyam Patel    Male   30       Domain Name
2   3  Chunilal Associates  Sunita Sharma  Female   43     Email Service
3   4           Ramlal LLP   Pankaj Gupta    Male   55  Web Site Hosting
4   5        Shaan Pvt Ltd    Shaan Reddy    Male   67       Domain Name

load a sheet into a dataFrame by index

In [15]:
df1 = xls.parse(1)
# print the head of the DataFrame df1
print(df1.head())

   Sr          Company Name         Contact Name Gender  Age  \
0   1             Sony Mony         Ravina Swamy      F   19
1   2          Star Traders     Ria Karsan Patel      F   29
2   3  Channel Fashions Ltd  Sunita Sunil Sharma      M   49
3   4      Sunderlal & Sons        Pankaja Munde      F   59
4   5  Khanna & Associates         Rajesh Khanna      F   68

       ProductCategory
0          Web Hosting
1  Domain Registration
2        Email Service
3          Web Hosting
4  Domain Registration

load a sheet into a dataFrame by index

In [16]:
df2 = xls.parse(2)
# print the head of the DataFrame df2
print(df2.head())

   Sr           Company Name First Name Last Name  Gender  Age ProductCategory
0   1                Star TV  Narendra     Gandhi       1   69     Web Hosting
1   2        Tata Sons Trust      Bawi       Tata       0   32     Domain Name
2   3       Tamil Sarkar LLP      Jaya     Lalita       0   49   Email Hosting
3   4  Banerjee & Chatterjee      Mamta      Gosh       0   59     Web Hosting
4   5               Reliance     Aakash    Ambani       1   21    All Services

load a sheet into a dataFrame by index

In [20]:
df3 = xls.parse(2)

print sheet names

In [21]:
print(xls.sheet_names)

['Telephone', 'WebChat', 'WebForm']

create an array of dataframes (actually dict)

In [23]:
dfn={}
for i in range(0,len(xls.sheet_names)):
    print(i)
    print(xls.sheet_names[i])
    dfn[i] = xls.parse(i)
print(dfn)

0
Telephone
1
WebChat
2
WebForm
{0:    Sr         Company Name   Contact Name  Gender  Age   ProductCategory
0   1             ABC Bros       Ravi Raj    Male   18  Web Site Hosting
1   2             XYZ Sons    Shyam Patel    Male   30       Domain Name
2   3  Chunilal Associates  Sunita Sharma  Female   43     Email Service
3   4           Ramlal LLP   Pankaj Gupta    Male   55  Web Site Hosting
4   5        Shaan Pvt Ltd    Shaan Reddy    Male   67       Domain Name, 1:    Sr          Company Name         Contact Name Gender  Age  \
0   1             Sony Mony         Ravina Swamy      F   19
1   2          Star Traders     Ria Karsan Patel      F   29
2   3  Channel Fashions Ltd  Sunita Sunil Sharma      M   49
3   4      Sunderlal & Sons        Pankaja Munde      F   59
4   5  Khanna & Associates         Rajesh Khanna      F   68

       ProductCategory
0          Web Hosting
1  Domain Registration
2        Email Service
3          Web Hosting
4  Domain Registration  , 2:    Sr           Company Name First Name Last Name  Gender  Age ProductCategory
0   1                Star TV  Narendra     Gandhi       1   69     Web Hosting
1   2        Tata Sons Trust      Bawi       Tata       0   32     Domain Name
2   3       Tamil Sarkar LLP      Jaya     Lalita       0   49   Email Hosting
3   4  Banerjee & Chatterjee      Mamta      Gosh       0   59     Web Hosting
4   5               Reliance     Aakash    Ambani       1   21    All Services}