In [15]:
"""
@filename: FwfExport.py
@author: waisullah yousofi
@url: https://docs.scipy.org/doc/numpy-1.6.0/reference/generated/numpy.savetxt.html
"""

'\n@filename: FwfExport.py\n@author: waisullah yousofi\n@url: https://docs.scipy.org/doc/numpy-1.6.0/reference/generated/numpy.savetxt.html\n'

import pandas

In [16]:
import pandas as pd
import numpy as np

assign spreadsheet filename: file

In [17]:
file = '..\dataset/Catalog.csv'

load spreadsheet xls

In [18]:
df = pd.read_csv(file)

info

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  26 non-null     int64
 1   title       26 non-null     object
 2   artist      26 non-null     object
 3   country     24 non-null     object
 4   company     26 non-null     object
 5   price       25 non-null     float64
 6   year        26 non-null     int64
 7   age         26 non-null     int64
 8   status      26 non-null     object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.0+ KB
None

summary

In [20]:
print(df.describe())

       Unnamed: 0      price         year        age
count   26.000000  25.000000    26.000000  26.000000
mean    12.500000   9.048000  1988.730769  31.269231
std      7.648529   1.118079     7.040214   7.040214
min      0.000000   7.200000  1971.000000  21.000000
25%      6.250000   8.100000  1985.500000  25.000000
50%     12.500000   8.900000  1988.000000  32.000000
75%     18.750000   9.900000  1995.000000  34.500000
max     25.000000  10.900000  1999.000000  49.000000

info

In [21]:
print(df.head())

   Unnamed: 0              title           artist country         company  \
0           0  Empire, Burlesque        Bob Dylan     USA        Columbia
1           1    Hide your heart     Bonnie Tyler      UK     CBS Records
2           2      Greatest Hits     Dolly Parton     USA             RCA
3           3      Got the blues       Gary Moore     NaN  Virgin records
4           4               Eros  Eros Ramazzotti      EU             BMG

   price  year  age       status
0   10.9  1985   35  GoldenOldie
1    9.9  1988   32  GoldenOldie
2    9.9  1982   38  GoldenOldie
3   10.2  1990   30  GoldenOldie
4    9.9  1997   23    RecentHit