In [1]:
"""
@filename: XmlImport
@author: waisullah yousofi
"""

'\n@filename: XmlImport\n@author: waisullah yousofi\n'

import pandas

In [2]:
import pandas as pd
import xml.etree.cElementTree as et

function <br>
return node text or None

In [3]:
def getvalueofnode(node):
    return node.text if node is not None else None

assign spreadsheet filename: file

In [4]:
oXML = et.parse('..\dataset/Catalog.xml')
colNames = ['TITLE', 'ARTIST', 'COUNTRY', 'COMPANY','PRICE','YEAR']
df = pd.DataFrame(columns=colNames)
for node in oXML.getroot():
    TITLE = node.find('TITLE')
    ARTIST = node.find('ARTIST')
    COUNTRY = node.find('COUNTRY')
    COMPANY = node.find('COMPANY')
    PRICE = node.find('PRICE')
    YEAR = node.find('YEAR')
    df = df.append(pd.Series([getvalueofnode(TITLE), getvalueofnode(ARTIST), 
                              getvalueofnode(COUNTRY), getvalueofnode(COMPANY), 
                              getvalueofnode(PRICE), getvalueofnode(YEAR)], 
                            index=colNames),
                            ignore_index=True)
 # columns
print(df.columns)

Index(['TITLE', 'ARTIST', 'COUNTRY', 'COMPANY', 'PRICE', 'YEAR'], dtype='object')

In [5]:
 # info 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TITLE    26 non-null     object
 1   ARTIST   26 non-null     object
 2   COUNTRY  26 non-null     object
 3   COMPANY  26 non-null     object
 4   PRICE    26 non-null     object
 5   YEAR     26 non-null     object
dtypes: object(6)
memory usage: 1.3+ KB
None

summary

In [6]:
print(df.describe())

                   TITLE          ARTIST COUNTRY  COMPANY PRICE  YEAR
count                 26              26      26       26    26    26
unique                26              26       4       22    12    14
top     The very best of  The Communards      UK  Polydor  9.90  1987
freq                   1               1      13        3     5     5

head

In [7]:
print(df.head())

                 TITLE           ARTIST COUNTRY         COMPANY  PRICE  YEAR
0     Empire Burlesque        Bob Dylan     USA        Columbia  10.90  1985
1      Hide your heart     Bonnie Tyler      UK     CBS Records   9.90  1988
2        Greatest Hits     Dolly Parton     USA             RCA   9.90  1982
3  Still got the blues       Gary Moore      UK  Virgin records  10.20  1990
4                 Eros  Eros Ramazzotti      EU             BMG   9.90  1997